body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f6ff;
  margin: 0;
  display: flex;
  justify-content: center;
}

.container {
  width: 600px;
  margin-top: 30px;
  text-align: center;
}

.status {
  font-size: 1.1rem;
  padding: 10px;
  margin-bottom: 12px;
  background: white;
  border-radius: 10px;
}

.input {
  width: 80%;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}

button {
  padding: 10px 18px;
  font-size: 1rem;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}
